
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin: 0;
    background: url('/src/img/1710168077206.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.card {
    background-color: #ffffff99;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    text-align: left;
    margin: 16px;
}

.card-header {
    background-color: #e9ecefaa;
    color: #183153;
    padding: 16px;
}

.card-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.card-content {
    padding: 16px;
}

.card-content p {
    margin: 0;
    color: #333;
    line-height: 2;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 16px;
    background-color: #8ca86d;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #728c5e;
}

.buttom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #99ffffaa;
    height: 50px;
}
.top-fixed{
    position: fixed;
    top: 5px;
    width: 99%;
    background-color: #76ffffaa;
    height: 50px;
    border-radius: 2%;
}
.top-fixed h2{
    margin: 0;
    font-size: 1.5rem;
    color: #183153;
    padding: 16px;
}
